<div class="component">
  <div class="toy-info">
    <div class="toy-photo">
      <%= image_tag @toy.photo_url %>
    </div>
    <%# cl_image_tag @toy.photo.key, height: 300, width: 400, crop: :fill %>
    <% if false %>
    <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
    <% end %>
    <div class="show-title">
      <div>
        <h1><%= @toy.name %></h1>
        <p>Location<%# @user_id.location %></p>
      </div>
      <p>★★★<%# @toy.rating %></p>
    </div>

  <div class="border-bottom"></div>

  <div class="toy-details">
    <h3>Description:</h3>
    <% if @toy.description != nil %>
      <p><%= @toy.description %></p>
    <% else %>
      <p>No description to show</p>
    <% end %>

    <h3>Category:</h3>
    <% if @toy.category != nil %>
      <p><%= @toy.category %></p>
    <% else %>
      <p>Nil</p>
    <% end %>

    <h3>Condition:</h3>
    <% if @toy.condition != nil %>
      <p><%= @toy.condition %></p>
    <% else %>
      <p>Nil</p>
    <% end %>
  </div>

  <div class="go-booking">
    <h2>$<%= @toy.price %></h2>
    <div class="btn btn-primary"><%= link_to 'Book Now', new_toy_booking_path(@toy) %></div>
  </div>
</div>
