<div class="responsive container d-flex flex-column justify-content-between">

      <%= cl_image_tag @toy.photo.key, class:'photo-class'%>
    <% if false %>
    <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>)">
    </div>
    <% end %>
    <div class="show-title">
      <div>
        <h1><%= @toy.name %></h1>
        <p><% @toy.user.address %></p>
      </div>
      <div>
      <% if false %><p>Edit</p><% end %>
      <p>★★★<%# @toy.rating %></p>
      </div>
    </div>

    <div class="border-bottom"></div>

    <div class="toy-details">
      <div class="detail">
        <h3>Description: </h3>
        <% if @toy.description != nil %>
          <p><%= @toy.description %></p>
        <% else %>
          <p>No description to show</p>
        <% end %>
      </div>

      <div class="detail">
        <h3>Category: </h3>
        <% if @toy.category != nil %>
          <p><%= @toy.category.capitalize %></p>
        <% else %>
          <p>Nil</p>
        <% end %>
      </div>

      <div class="detail">
      <h3>Condition: </h3>
        <% if @toy.condition != nil %>
          <p><%= @toy.condition.capitalize %></p>
        <% else %>
          <p>Nil</p>
        <% end %>
      </div>

      <div class="border-bottom"></div>
      <div class="detail">
      <h3>Owner: <%= link_to @toy.user.name.capitalize, user_path(@toy) %></h3>
      </div>

      <div class="detail">
      <h3>Location: </h3>
        <% if @toy.user.address != nil %>
          <p><%= @toy.user.address.capitalize %></p>
        <% else %>
          <p>Nil</p>
        <% end %>
      </div>

      <div class="detail">
      <h3>Child's age: </h3>
        <% if @toy.user.child_age != nil %>
          <p><%= @toy.user.child_age %> years old</p>
        <% else %>
          <p>Nil</p>
        <% end %>
      </div>


    </div>
  </div>
</div>

<div class="fixed-bottom">
  <div class="go-booking">
    <h2>¥<%= @toy.price %><span style="font-size:18px">/ week</span></h2>
    <div class="btn btn-primary"><%= link_to 'Book Now', new_toy_booking_path(@toy) %></div>
  </div>
</div>
