<div class="approval-buttons">
  <% if booking.pending? %>
    <%= simple_form_for booking do |f| %>
      <%= f.input :approval_status, as: :hidden, input_html: { value: 'approved'} %>
      <%= f.submit 'Accept', class: 'btn btn-success approval-btns' %>
    <% end %>
    <%= simple_form_for booking do |f| %>
      <%= f.input :approval_status, as: :hidden, input_html: { value: 'denied'} %>
      <%= f.submit 'Reject', class: 'btn btn-dark approval-btns' %>
    <% end %>
  <% end %>
</div>
