<div class="container">
<h1>Your Bookings</h1>

<% @bookings.each do |booking| %>
    <div class="card card-config">
  <%= link_to toy_path(booking.toy), class:"btn" do  %>
      <ul>
        <li>
          <div class="d-flex border bookings_card justify-content-between p-2">
            <%= image_tag booking.toy.photo.record.photo_url, height: 300, width: 400, crop: :fill, class:"bookings_image" %>

  <%# <div class="d-flex "> %>
            <p><%= booking.toy.name %></p>
            <p><%= booking.toy.user.email %></p>
            <p><%= booking.approval_status %></p>
<%# </div> %>
          </div>
        </li>
      </ul>
  <% end %>
    </div>
<% end %>

<%= link_to "Return to Toys", toys_path, class: "btn btn-dark"  %>
</div>
