<div class="container">
<h1>Your Bookings</h1>

<% @bookings.each do |booking| %>

        <div class="card-product m-2">
  <%= image_tag booking.toy.photo.record.photo_url, height: 300, width: 400, crop: :fill %>
  <div class="card-product-infos">
    <p>
    <h2><%= link_to booking.toy.name, toy_path(booking.toy)%></h2>
    <p><%= booking.toy.user.email %></p>
    <% if booking.approval_status == "approved" %>
      <p style="color:#008000"><%= booking.approval_status %></p>
    <% elsif booking.approval_status == "pending" %>
      <p style="color:#FFA500"><%= booking.approval_status %></p>
    <% elsif booking.approval_status == "denied" %>
      <p style="color:#FF0000"><%= booking.approval_status %></p>
    <% end %>
  </div>
</div>

<% end %>

<%= link_to "Return to Toys", toys_path, class: "btn btn-dark"  %>
</div>
